header nav a:first-child {
    color: white;
}

header nav a:nth-child(4) {
    color: #09FF00;
}

header nav a:hover {
    color: #09FF00;
}

.reforma img {
    border-radius: 10px;
    margin-top: 10px;
}

.reforma h1 {
    font-size: 30px;
    color: #FF0000;
    margin-top: 30px;
    margin-bottom: 10px;
}

.reforma h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.reforma ul li::marker {
    color: #FF0000;
}

.reforma p {
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
}

main section:first-child {
    width: 70%;
    padding-right: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*responsividade*/

@media (max-width: 1000px) {
.reforma p{
margin-right: 80px !important;
}
}

@media (max-width: 770px) {
    .reforma img{
        height: 350px !important;
        width: 100%;
    }
}